<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | {{ site:name }}</title>
        <script src="https://kit.fontawesome.com/8753c29d43.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <script src="/vendor/statamic/frontend/js/helpers.js"></script>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        
    </head>
    <body class="bg-slate-100 dark:bg-gray-100 font-display leading-normal text-slate-800 dark:text-gray-800">
        <header class="bg-white" x-data="{ mobileMenuIsOpen: false }" x-on:click.away="mobileMenuIsOpen = false">
          <nav class="mx-auto flex max-w-6xl items-center justify-between p-6 pb-12 pb-18 lg:px-8" aria-label="Global" >
            <div class="flex lg:flex-1">
              <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only">Lola's European Cafe</span>
                <img class="h-18 md:h-32 w-auto" src="/assets/brand/lec-primary-logo.jpg" alt="">
              </a>
            </div>
            <div class="flex lg:hidden">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400" x-on:click="mobileMenuIsOpen = !mobileMenuIsOpen">
                <span class="sr-only">Open main menu</span>
                <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
              {{ nav include_home="true" handle="header"}}
              <a href="{{ url }}" class="text-2xl hover:text-lec-pistachio text-white md:text-gray-800">{{ title }}</a>
              {{ /nav }}
            </div>
            
          </nav>
          <!-- Mobile menu, show/hide based on menu open state. -->
          <div class="lg:hidden" role="dialog" aria-modal="true" x-cloak x-show="mobileMenuIsOpen">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-10" ></div>
            <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10" >
              <div class="flex items-center justify-between">
                <a href="/" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <img class="h-18 " src="/assets/brand/lec-primary-logo.jpg" alt="">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400" x-on:click="mobileMenuIsOpen = !mobileMenuIsOpen">
                  <span class="sr-only">Close menu</span>
                  <svg class="size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div class="mt-6 flow-root" x-cloak x-show="mobileMenuIsOpen">
                <div class="-my-6 divide-y divide-gray-500/25">
                  <div class="space-y-2 py-6">
                    {{ nav include_home="true" handle="header"}}
                    <a href="{{ url }}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 text-gray-800 text-2xl hover:bg-gray-800">{{ title }}</a>
                    {{ /nav }}
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </header>



        <!-- <ul class="flex flex-row justify-center items-center bg-white mb-8">
            <li class="p-8 text-xl" >
                <a href="/">
                    <img src="/assets/brand/lec-primary-logo.jpg" class="h-30" alt="">
                </a>
            </li>
            {{ nav include_home="true" handle="header"}}
                <li class="p-8 text-2xl text-gray-700 hover:text-lec-pistachio" >
                    <a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ /if }}>
                        {{ title }}
                    </a>
                </li>
            {{ /nav }}
           <li class="p-8 text-xl text-lec-pistachio hover:text-lec-espresso"><i class="fa-2x fa-brands fa-instagram"></i></li>
        </ul> -->
        <div class="pt-8">
            {{ template_content }}
        </div>
        <div class="pt-12 pb-8 bg-lec-pistachio text-white">
            <div class="max-w-6xl mx-auto grid md:grid-cols-4 px-4 md:px-0">
                <div>
                    <ul>
                    {{ nav include_home="true" handle="header"}}
                        <a href="{{ url }}" class="text-xl text-white hover:text-gray-800 ">
                            <li>{{ title }}</li>
                        </a>
                        
                        </a>
                    {{ /nav }}
                        <a href="" class="text-xl text-white hover:text-gray-800 ">
                            <li>
                                Contact
                            </li>
                        </a>
                    </ul>
                </div>
                <div>
                </div>
                <div>
                    <p class="font-bold -mb-12">Asbury Park Location</p>
                    <p class="footer">Steinbach Building</p>
                    <p class="footer">539 Cookman Ave</p>
                    <p class="">Asbury Park, NJ 07712</p>
                    <a href="https://maps.app.goo.gl/UFjAfCh4gzoJV9W98?g_st=com.google.maps.preview.copy" class="hover:text-lec-espresso"><i class="fa-regular fa-location-dot mr-2 "></i>Get directions</a>

                </div>
                <div>
                    <p class="font-bold">Nashville Location</p>
                    <p class="footer">1616 Broadway</p>
                    <p class="">Nashvile, TN 37027</p>
                    <a href="https://maps.app.goo.gl/Dpv461bH15GZmZau7?g_st=com.google.maps.preview.copy" class="hover:text-lec-espresso"><i class="fa-regular fa-location-dot mr-2 "></i>Get directions</a>

                </div>
            </div>
        </div>
        <div class="text-center pt-8 pb-4 bg-black">&copy; 2025 Lola's European Cafe</div>
    </body>
</html>
