@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

p {
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.6rem;
  margin-bottom: .5rem;
}
address{
  font-style: normal;
}

@theme {
  --font-display: "IM Fell Great Primer", "sans-serif";

  --color-lec-pistachio: #92B35C;
  --color-lec-espresso: #462d19;

  
}
